@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  min-height: 100%;
}

.App {
  min-height: 100vh;
  height: 100%;
}

body {
  height: 100%;
  min-height: 100vh;
  background: white;
  color: black;
  font-family: Oxygen, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  position: relative;
}

header {
  background: $lightGray;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  input, button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    margin-bottom: 0.6rem;
    padding: 0.25rem 0.6rem;
    border-radius: 3px;
  }
}

label[for="exercise"], input[name="memo"] {
  margin-bottom: 1.5rem;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 50px 0 120px;
  p {
    margin-bottom: 0.7rem;
    &:last-of-type {
      margin-bottom: 1.5rem;
    }
  }
}

a[href="/login"], a[href="/register"] {
  background: white;
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.container {
  background: radial-gradient(circle at top left, $secondary, rgb(1, 160, 160));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

[type="date"], [type="number"] {
  display: block;
  margin: 0 auto 1rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: opacity 200ms ease;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-align: center;
  background: #ccc;
  &:hover {
    opacity: 0.9;
  }
}

.mood-form label:first {
  display: block;
}

.mood-form label:nth-of-type(2) {
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  display: inline-block;
}

.mood {
  font-size: 2rem;
}

.face {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  border-radius: 50%;
  font-size: 1.7rem;
  font-weight: 900;
  border: none;
  cursor: pointer;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  font-size: inherit;
  color: white;
  background: brown;
  padding: 0.7rem 1rem;
  transition: background 150ms ease;
  &:hover {
    background: hsl(0, 59%, 31%);
    cursor: pointer;
  }
}

.one {
  background: center/cover no-repeat url("./assets/sad-tear.svg");
}
.two {
  background: center/cover no-repeat url("./assets/frown.svg");
}
.three {
  background: center/cover no-repeat url("./assets/grin-regular.svg");
}
.four {
  background: center/cover no-repeat url("./assets/grin-beam.svg");
}
.five {
  background: center/cover no-repeat url("./assets/grin-squint.svg");
}

@import "footer";
